
.grid-sizer, .grid-item {
width: 32%
}

.grid-item img {
display: block;
    max-width: 100%;
}

.center-button {
padding-bottom: 20px;
}

#lol {
background-color: #c3c7c7;
    border: 1px solid black; 
    padding: 3px;
    
}
.grid-item {
margin-bottom: 20px;
}